@font-face {
    font-family: Roboto;
    src: url('src/assets/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('src/assets/font/Roboto-Black.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('src/assets/font/Roboto-Bold.ttf');
}

@font-face {
    font-family: Balsamiq;
    src: url('src/assets/font/BalsamiqSans-Regular.ttf');
}

@font-face {
    font-family: Balsamiq-Bold;
    src: url('src/assets/font/BalsamiqSans-Bold.ttf');
}

@font-face {
    font-family: Segoe-UI;
    src: url('src/assets/font/segoeui.ttf');
}

/* Raleway */

@font-face {
    font-family: Raleway;
    src: url('src/assets/font/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('src/assets/font/Raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('src/assets/font/Raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('src/assets/font/Raleway/Raleway-SemiBold.ttf');
}