body {
  padding: 0;
  margin: 0;
  height: 100vh !important;
  width: 100vw;
  background-color: #1a1a1a;
  top: 0;
  font-size: 14px !important;
  overflow: hidden;
  font-family: Segoe-UI!important;
  color: white;
  font-size: 14px;
  height: 20px;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.dark {
  background-color: #1a1a1a;
  color: white;
}

html {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* a {
  font-family: ArialMT;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  text-decoration: underline;
} */

hr {
  margin: 10px;
}

h1 {
  color: rgb(164, 30, 34);
  font-family: Arial-Black;
  font-size: 40px;
  font-weight: 900;
}

h2 {
  color: rgb(44, 62, 80);
  font-size: 32px;
  font-weight: 900;
}

h3 {
  color: rgb(44, 62, 80);
  font-family: Arial-BoldMT;
  font-size: 40px;
  font-weight: 900;
}

h4 {
  color: rgb(44, 62, 80);
  font-family: Arial-BoldMT;
  font-size: 24px;
  font-weight: 900;
}

h5 {
  color: rgb(44, 62, 80);
  font-family: Arial-BoldMT;
  font-size: 20px;
  font-weight: 900;
}

h6 {
  color: rgb(92, 102, 111);
  font-family: Arial-BoldMT;
  font-size: 16px;
  font-weight: 900;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.mapRow {
  display: flex;
  width: 100%;
}

.button {
  background-color: #C01B41;
  border: none;
  margin: 5px;
  padding: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  transition: background-color 350ms ease-out, box-shadow 350ms ease-out;
}

.button.blue {
  background-color: #1d1bc0;
}

.button.blue:hover {
  background-color: #1e1bc078;
}

.button.active{
  background-color: rgb(138, 8, 38);
}

.button.height {
  height: 2em;
}

.button.checkbox {
  height: 25px;
  width: 25px;
  background-color: rgb(241, 241, 241)!important;
  will-change: background-color;
  transition: background-color 250ms ease-out;
}

.button.checkbox.fa-check {
  background-color: rgb(102, 90, 140)!important;
}

.searchBtn {
  width: 48px;
  height: 32px;
  border-radius: 0px 4px 4px 0px;
  margin: 0px!important;
  background-color: rgb(93, 188, 171)!important;
}

.searchResult {
  padding: 5px;
  background-color: #e0e0e0;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  color: #828282;
  transition: background-color 250ms ease-out, color 250ms ease-out;
  will-change: background-color, color;
}

.searchResult.active {
  background-color: rgb(93, 188, 171);
  color: #fafdfc;
}

.button-dark {
  color: rgb(48, 47, 47)!important;
}

.button:hover {
  background-color: rgb(139, 13, 42);
}

.button.disabled {
  background-color: rgb(163, 169, 172);
  color: white;
  cursor: no-drop;
}

.button:focus {
  outline: none;
}

.clearAll {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: rgb(214, 112, 89);
  will-change: color;
  transition: color 250ms ease-out;
  z-index: 100;
  cursor: pointer;
}

.clearAll:hover {
  color: rgb(218, 154, 139);
}

.input {
  margin: auto;
  background-color: #0000001f;
  border: none;
  transition: border-bottom 500ms ease-out, background-color 500ms ease-out, color 500ms ease-out;
  color: inherit;
  padding: 0 1em 0 1em;
  font-weight: 600;
}

.simpleInput.mandatory {
  border: 1px solid #e2e2e2!important;
}

.simpleInput {
  transition: border-bottom 500ms ease-out, background-color 500ms ease-out;
  background-color: transparent;
  border: none;
  color: rgb(93, 134, 188);
  font-family: ArialMT;
  font-size: 14px;
  height: 20px;
  letter-spacing: 0.2px;
  line-height: 20px;
  width: 182px;
}

.simpleInput:focus {
  background-color: transparent!important;
  color: #00000083!important;
  outline: none;
}

.input:focus {
  background-color: #00000036;
  color: rgb(43, 43, 43);
  outline: none;
  border: none;
}

.input:focus::placeholder {
  color: rgb(114, 114, 114);
}

.input::placeholder {
  text-align: left;
  color: rgb(163, 169, 172);
  transition: color 500ms ease-out;
  font-weight: 100;
}

.newItemInput {
  height: 4em;
  width: 100%;
  margin-right: 30px;
}

.newItemImage {
  width: auto !important;
  height: 17vh;
  min-width: 310px;
}

.newItemRemoveImage {
  position: absolute;
  top: 0;
  /* left: calc(100% - 4em); */
  /* padding: 0.5em; */
  /* border: 1px solid #535353; */
  /* border-radius: 50%; */
  font-size: 20px;
  /* background-color: #80808036; */
  /* color: red; */
  cursor: pointer;
  left: 1%;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

input#picturePath {
  margin: 20px 0px 20px 10px;
}

.mapContextConainer {
  /* margin: -35%; */
  border-radius: 2px;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 200%;
  top: -20%;
  left: 0%;
}

.mapContext {
  background-color: #a3a3a3;
  color: white;
  cursor: pointer;
  padding: 0.4em;
}

.mapContext:hover {
  background-color: grey;
}

.placeholder {
  position: relative;
  margin-bottom: 10px;
}

.placeholder::before {
  content: attr(name) !important;
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  width: 100%;
  opacity: 1;
  transition: opacity 1000ms ease-out;
  padding: 0 0 0.3em 0;
  color: rgb(92, 102, 111);
  letter-spacing: 0.2px;
  margin: auto 0;
  margin-left: 15px;
}

.placeholder::after.active {
  visibility: visible;
}

/* TooltipNew container */

.tooltipNew {
  font-size: 0.9em;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* TooltipNew text */

.tooltipNew .tooltipNewtext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #e3e3e3;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 0.8em;
  /* Position the tooltipNew text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltipNew .tooltipNewtext.top {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width (120/2 = 60), to center the tooltipNew */
}

/* Show the tooltipNew text when you mouse over the tooltipNew container */

.tooltipNew:hover .tooltipNewtext {
  visibility: visible;
}

.tooltipNew .tooltipNewtext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltipNew */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

* {
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*----------- General ----------------*/

.centerBoth {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.centerVertical {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.centerHorizontal {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.row {
  width: 100%;
  display: flex;
}

.noAnimation {
  transition: none;
}

.autoHeight {
  resize: none;
  min-height: 3.5em;
  height: 2em;
  max-height: 25vh;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.flex {
  display: flex !important;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.lFloat {
  float: left !important;
}

.rFloat {
  float: right !important;
}

.none {
  display: none !important;
}

.label.inp {
  padding: 2% 2% 0 2%;
  line-height: 1em;
  margin: 1em 0 0 1em;
  background-color: rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 3px 3px 0 0;
}

.label {
  color: rgb(92, 102, 111);
  letter-spacing: 0.2px;
  margin: auto 0;
  font-weight: 900!important;
}

.labelHeading {
  color: rgb(92, 102, 111);
  font-weight: 700!important;
  font-size: 16px;
}

.labelValue:not(.input) {
  color: rgb(93, 134, 188);
  font-family: ArialMT;
  font-size: 14px;
  max-height: 20px;
  overflow: hidden;
  letter-spacing: 0.2px;
  transition: max-height 500ms ease-out;
}

.labelValue:hover:not(.input) {
  max-height: 100vh;
}

h3.label {
  font-size: 30px;
  font-family: sans-serif;
}

.heading {
  color: grey;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 3px;
  padding: 1%;
  border-bottom: 1px solid;
}

.emphasis {
  color: grey;
  font-weight: 600;
  font-size: 1em;
  background-color: #fff;
  border-radius: 3px;
  width: fit-content;
  padding: 1% 3% 1% 3%;
  margin: 1%;
}

.mg-2 {
  margin-bottom: 2% !important;
}

.mg-1 {
  margin: 1% !important;
}

.mg-5 {
  margin: 5% !important;
}

.pd-3 {
  padding: 0.3em !important;
}

.pd-10 {
  padding: 1em !important;
}

.pd-tp-10 {
  padding-top: 1em !important;
}

.pd-tp-15 {
  padding-top: 1.5em !important;
}

.lg {
  width: 100%;
}

.md {
  width: 75%;
}

.sm {
  width: 50%;
}

.xs {
  width: 25%;
}

.xxs {
  width: 15%;
}

.h-fit {
  height: fit-content;
}

.w-fit {
  width: fit-content;
}

.o-hidden {
  overflow: hidden;
}

.note {
  font-size: 0.8em;
  font-family: heebo;
  color: #444480;
}

table {
  color: #3e3e3e;
  padding: 0.2em;
}

tr {
  padding: 0.4em;
}

td {
  text-align: center;
}

th {
  text-align: center;
  font-family: baloo;
  border-bottom: 1px solid darkgrey;
}

td.total {
  border: 1px solid #c4c4c4;
}

h1 {
  text-align: center;
  font-family: heebo;
}

b {
  font-family: serif;
  font-size: 15px!important;
}

h3 {
  color: rgb(92, 102, 111);
  font-weight: 500;
}

.section.mandatory {
  border: 1px solid #e2e2e2;
  width: 312px;
}

.section {
  padding: 1.5em 1em 1em 1em;
  margin: 0.4em 0;
  background-color: white;
  position: relative;
  border-radius: 2px;
}

.section.inner {
  border: 1px solid lightgrey;
  padding: 0.5em;
}

.section.float {
  overflow: auto;
}

.section::before {
  content: attr(title);
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  color: rgb(124, 124, 124);
  left: calc(100% - 1em);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  white-space: nowrap;
}

.singleLine {
  white-space: nowrap !important;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  background-color: rgb(241, 239, 230);
  border-radius: 4px;
  height: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  background: rgb(102, 90, 140);
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  background: rgb(102, 90, 140);
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.applicationResultImage {
  width: 1.3em;
  height: 1.3em;
}

.rightMenu {
  z-index: 500;
  width: 20vw;
  right: -100vw;
  transition: right 500ms ease-out;
  background-color: white;
  height: calc(100vh - 72px);
  overflow: hidden scroll;
  min-width: 414px;
  position: absolute;
}

.rightMenu.active {
  right: 0;
}

/*-----------------hide layers control-------------------*/

.leaflet-control-layers {
  visibility: hidden !important;
  display: none !important;
}

.leaflet-control-attribution {
  display: none !important;
}

.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: rgb(102, 90, 140);
}

.e-checkbox-wrapper:hover .e-frame.e-check, .e-css.e-checkbox-wrapper:hover .e-frame.e-check {
  background-color: rgb(102, 90, 140);
}

.loading {
  transition: opacity 100ms ease-out, z-index 250ms ease-out;
  opacity: 0;
  z-index: -1;
  right: 0;
  width: 100%;
}

.e-gif {
  width: 60px;
}

.loading.active {
  opacity: 100;
  z-index: 100000;
}

.c-white {
  color: white!important;
}

.c-grey {
  color: grey!important;
}

.bg-black {
  background-color: #1a1a1a!important;
}

.bg-darkGreen {
  background-color: #032a03!important;
}

.bg-darkRed {
  background-color: #2a0603!important;
}

h1 {
  font-family: 'Segoe UI'!important;
}

.dropdownInput {
  border: none;
  width: calc(100% - 2em);
  padding: 10px 0;
  border-bottom: 1px solid rgba(192, 27, 66, 0.63);
  transition: border-bottom 300ms ease-out;
}

.dropdownInput:focus {
  outline: none!important;
  border-bottom: 2px solid #C01B41;
}

.validateError {
  color: rgb(189, 4, 4);
}

.box {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  box-shadow: 0 0 10px 0px #d6d6d6;
}

.accordion {
  background-color: rgb(241, 239, 230);
}

.accordionBody {
  max-height: 200px;
  overflow: hidden scroll;
}

#fixedAssetAccordion {
  max-height: 20vh;
}

.accordionSingle {
  background-color: rgb(241, 239, 230);
  padding: 0.5em 1em!important;
  color: rgb(92, 102, 111)!important;
  font-weight: 600;
}

.assetDetailCarousselImage {
  height: 25vh !important;
}

.carousel-indicators li {
  border-radius: 50%!important;
  height: 10px!important;
  width: 10px!important;
  background-color: #665b8b !important;
}

.treeClearButton {
  color: rgb(214, 112, 89);
  font-family: ArialMT;
  letter-spacing: 0.2px;
  transition: color 200ms ease-out;
  will-change: color;
  margin-left: 3.5em;
}

.treeClearButton :hover {
  color: rgb(236, 162, 145);
}

.treeButton {
  z-index: 100;
  top: -1em;
  right: 0em;
}

.treeHide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  cursor: not-allowed;
  z-index: 10000000;
  border-radius: 5px;
}

.tree {
  opacity: 0.3;
  will-change: opacity;
  transition: opacity 500ms ease-out;
}

.tree.active {
  opacity: 1;
}

/* ------------ Checkbox ------------ */

.container {
  display: block;
  position: relative;
  padding-left: 35px!important;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
  background-color: rgb(102, 90, 140);
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*--------- scroll bar ----------*/

/* width */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #cfcfcf;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 20px;
  transition: border-radius 500ms ease-out, background 1000ms ease-out;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 29, 70, 0.753);
  border-radius: 2px;
}

/*Carousel Arrow Fix*/

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
  position: absolute;
}

a.carousel-control-next {
  top: 150px !important;
}

a.carousel-control-prev {
  top: 150px !important;
}

/*---------------- Modify Nebular ---------------*/

.scrollable {
  padding: 0!important;
}

.nb-theme-default nb-sidebar .main-container {
  min-width: 414px;
  width: 20vw;
}

.nb-theme-default nb-tabset nb-tab {
  padding: 0px!important;
}

nb-tab.content-active {
  padding: 0 !important;
}

.nb-theme-violetTheme nb-layout-header nav {
  border: 0 !important;
  padding: 0 !important;
  height: 72px !important;
}

.tab-link {
  height: 3em;
  padding: 1em!important;
}

.nb-theme-default nb-accordion nb-accordion-item-header {
  padding: 0.5em 1em!important;
  color: rgb(92, 102, 111)!important;
  font-family: Arial-BoldMT;
}

.nb-theme-default nb-accordion nb-accordion-item-body .item-body {
  padding: 0px!important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0px!important;
}

.nb-theme-default nb-tabset .tab.active .tab-link {
  color: rgb(102, 90, 140)!important;
}

.nb-theme-default nb-tabset .tab.active .tab-link::before {
  background-color: rgb(102, 90, 140)!important;
}

.tab:hover {
  color: rgb(0, 0, 0)!important;
  /* background-color: rgb(111, 93, 168); */
}

.nb-theme-default .label {
  color: rgb(92, 102, 111)!important;
  font-family: Arial-BoldMt;
}

.nb-theme-violetTheme nb-accordion nb-accordion-item-body .item-body {
  padding: 0 !important;
}

.nb-theme-violetTheme nb-layout .layout .layout-container nb-sidebar.fixed, .nb-theme-violetTheme nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 4.4rem !important;
}

.nb-theme-default nb-layout-header nav {
  padding: 0!important;
}

.e-list-text {
  font-family: Arial-BoldMT!important;
  color: rgb(92, 102, 111)!important;
  font-size: 14px!important;
}

.left .main-container {
  z-index: 1000!important;
  width: 414px !important;
}

.nb-theme-default .label {
  color: rgb(92, 102, 111)!important;
}

.nb-theme-violetTheme nb-accordion nb-accordion-item-header {
  padding: 0.5rem!important;
}

#Monitoring .ng-tns-c8-0 {
  background-color: #00000061;
  color: white!important;
}

/*---- Modify Tree --------*/

.e-treeview {
  overflow: visible !important;
}

.treeparent {
  width: 20vw;
  min-width: 414px;
  max-height: 40vh;
  overflow: scroll scroll;
  direction: ltr;
  padding-right: 46px;
}

#treeparent {
  width: 20vw;
  min-width: 390px;
  max-height: 40vh;
  overflow: scroll scroll;
  direction: ltr;
}

ul.e-list-parent.e-ul {
  overflow: visible;
}

/* general */

.input-light {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(241, 239, 230);
  height: 32px;
  width: 312px;
}

div#baseLayer {
  margin: 24px;
  width: 90%;
}

div#newItemConfirm {
  margin: 5px 20px 15px 10px;
}

div#fixedAsset {
  margin-top: -20px;
}

/*------------ input file  -----------*/

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.labelCarousel {
  width: 100%;
}

/* asset categories main */

.col-10.text-left {
  margin: auto;
}

.maintenancePicture {
  width: 26px;
}

/* pdf image and file name  */

.imagePdf {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.pdfName {
  margin-top: 10%;
  text-align: center;
  font-size: initial;
}

.registerButton {
  background-color: #BD1D4D;
  color: white;
  font-size: 18px;
  padding: 9px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.registerButton.mauve {
  background-color: #811459;
}

.registerButton.mauve:hover {
  background-color: #5a0b3d;
}

.registerButton:hover {
  background-color: rgb(224, 50, 102);
}

.registerButton.secondary {
  background-color: #707070;
}

.registerButton:hover.secondary {
  background-color: #a3a2a2;
}

.button-client {
  border: none;
  margin: 5px;
  padding: 5px;
  color: rgb(214, 112, 89);
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-out;
  background-color: white;
  font-family: Open Sans, sans-serif;
}

button.button-layer.collapsed {
  background-color: #f7f7f7;
}

.button-layer {
  padding: 10px 140px;
  font-size: 16px;
  color: purple;
  border: none;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 250ms ease-out;
}

p.pdfName:hover {
  background-color: beige;
  padding: 5px;
  cursor: pointer;
}

.value {
  height: auto;
}

img.buttonImage {
  max-height: 20px;
}

/* jQuery datatable */

.page-link {
  background-color: rgb(102, 90, 140)!important;
  display: unset!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

thead#table tr th:first-child, tbody#table tr td:first-child {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  word-break: break-all;
}

/*double check*/

.doubleCheckElem {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 2px solid #5f5e5e;
  background-color: white;
  border-radius: 50%;
  will-change: background-color;
  transition: background-color 500ms ease-out;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 0 0 10px;
  top: 5px;
  position: relative;
}

.doubleCheck.checked {
  background-color: rgb(102, 90, 140);
}

.sideMenuItemContainer {
  color: rgb(80, 80, 80);
  will-change: background-color, color;
  transition: background-color 500ms ease-out, color 500ms ease-out;
  cursor: pointer;
}

.sideMenuItem:hover {
  background-color: rgba(214, 214, 214, 0.646);
}

.sideMenuItemContainer.active {
  background-color: rgba(140, 137, 147, 0.41);
  color: white;
}

.sideMenuIcon {
  width: 20%;
  color: rgb(161, 16, 16);
}

.sideMenuItem {
  width: 85%;
}

.sideMenuArrow {
  position: absolute;
  right: 10px;
  transition: transform 500ms ease-out;
}

.sideMenuArrow.active {
  transform: rotate(90deg);
}

.itemChildren {
  max-height: 0vh;
  height: auto;
  transition: max-height 500ms ease-out;
  overflow: hidden;
  background-color: #9f9f9f13;
}

.itemChildren.active {
  max-height: 100vh;
}

/* HEADING */

.headingContainer {
  /* background-color: grey;
  color: white; */
  color: #ca0000;
}

.headingLabel {
  /* background-color: #55347f;
  color: white;
  padding: 0.25em;
  border-radius: 6px; */
}

.headingContainer-5 {
  font-size: 1.6em;
  margin: 0 0 1em 0em;
  /* position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 100%;
  text-align: center; */
}

.headingContainer-4 {
  font-size: 1.4em;
  margin: 0 0 1em 0em;
}

.headingContainer-3 {
  font-size: 1.3em;
  margin: 0 0 1em 0em;
}

.headingContainer-2 {
  font-size: 1.2em;
  margin: 0 0 1em 0em;
}

.headingContainer-1 {
  font-size: 1.1em;
  margin: 0 0 0.8 0em;
}

.headingContainer-0 {
  font-size: 1em;
  margin: 0 0 0.8 0em;
}

.wikiSearchResultContainer {
  padding: 1em;
  background-color: #f8f8f8;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 500ms ease-out, color 500ms ease-out;
  border: 1px solid grey;
  margin: 4px 0 0 0;
}

.wikiSearchResultContainer:hover {
  background-color: #a1a1a1;
  color: white;
}

.wikiSearchResultContainer:hover .wikiSearchResultBreadcrumbs {
  color: rgb(228, 228, 228);
}

.wikiSearchResultContainer:hover .wikiSearchResult {
  color: white;
}

.wikiSearchResult {
  padding: 0 0 0 1em;
  font-size: 1.7em;
  color: #ca0000;
  transition: color 500ms ease-out;
}

.wikiSearchResultBreadcrumbs {
  color: grey;
}

.caption {
  font-style: italic;
  color: grey;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  display: none;
}

.wikiImage {
  max-height: 30vh;
  max-width: 75vw;
}

.tg {
  margin: 2em 0 2em 0!important;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #aaa;
  width: 100%;
  overflow: scroll;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #333;
  background-color: #fff;
  text-align: left;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #aaa;
  color: #fff;
  background-color: #ca0000;
}

.tg .tg-7d57 {
  background-color: #FCFBE3;
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.tg .tg-c3ow {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top
}

.tg .tg-dvpl {
  border-color: inherit;
  text-align: right;
  vertical-align: top
}

.tg .tg-k2ye {
  background-color: #FCFBE3;
  border-color: inherit;
  text-align: right;
  vertical-align: top
}

#wikiPage img {
  margin: 2em 0!important;
  /* max-width: 75%;
  max-height: 30vh; */
}

#wikiPage p {
  width: 75%;
  position: relative;
  transform: translate3d(-50%, 0, 0);
  left: 50%;
}

#wikiPage .w-75 {
  /* width: auto!important;
  max-width: 75%; */
}

.addEditButton {
  float: right;
}

.bodyHeight {
  height: calc(100vh - 5em);
  overflow: hidden scroll;
}

.height-1 {
  height: 30px;
}

.asterisk {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%!important;
}

.bulletSize {
  font-size: 15px !important;
  font-family: Arial!important;
}

.ht-100 {
  height: 100%;
}

@media(min-width: 768px) {
  .bodyHeight {
    height: 100vh;
  }
  .ht-100 {
    height: unset;
  }
}