#creatorPage {
    height: 100vh;
    overflow: scroll;
}

#preview {
    border: 1px solid rgb(180, 5, 5);
    height: 210px;
    width: 297px;
    background-size: cover;
}

#preview.active {
    border: none;
}

#userName {
    font-size: 14px;
}

.border-bottom-grey {
    border-bottom: 1px solid rgb(61, 60, 60);
}

#fullscreen{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden scroll;
    background-color: #1a1a1a;
}

/* Checkbox */

.checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(236, 236, 238);
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

.checkbox.fa-check {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #5C6AC4;
    background-color: #F7F7FC;
}

.checkbox:hover {
    background-color: rgb(236, 236, 238);
}