<div id="mainPage">
    <label class="button m-0 mb-3 w-fit position-relative" style="top: 0.5em;" for="users">
        <i class="fa fa-user mr-2"></i>
        <span>Select Assets</span></label>
    <input type="file" class="d-none" (change)="usersSelected($event)" id="users" accept=".csv">
    <input class="input c-white" type="text" [(ngModel)]="assetType" placeholder="Asset Type" />
    <div class="button mt-2 w-fit position-relative centerHorizontal" (click)="processData()">Process Data</div>
    <p class="m-5">{{i}} of {{data.length}}</p>
</div>