#certificate {
    width: 100vw;
    height: 70.70707070707vw;
    background-image: url("src/assets/img/certificate/background.png");
    background-size: cover;
    padding: 7.127vw 6.813vw;
    font-family: Raleway-Medium;
}

#wrapper {
    height: 56.453vw;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.91);
    color: black;
}

#mdxLogo {
    width: 12vw;
    margin: 3.93vw 0 1.397vw 5.13vw;
}

#home {
    height: 100vh;
    width: 100vw;
    overflow: hidden scroll;
}

#title {
    font-size: 3.05vw;
    font-family: Raleway-Bold;
    line-height: 3.05vw;
}

#subTitle {
    font-size: 1.511vw;
    font-family: Raleway-Medium;
    line-height: 1.511vw;
    letter-spacing: 0.65vw;
    margin-top: 0.77vw;
    color: #2d2d2d;
}

#normalText {
    font-size: 1.739vw;
    margin-top: 6.756vw;
    line-height: 1.739vw;
    color: #2d2d2d;
}

#name {
    font-size: 2.651vw;
    line-height: 2.651vw;
    margin-top: 0.77vw;
}

#date {
    margin-top: 4.418vw;
    font-family: Raleway-SemiBold;
    font-size: 1.511vw;
    line-height: 1.511vw;
}

#footer {
    margin-top: 6.418vw;
}

#stamp {
    width: 8.42vw;
    z-index: 100000;
    position: absolute;
    left: 55.043vw;
    top: 35.144vw;
    transform: rotate(-3deg);
}

.sig {}

.sigName {
    font-family: Raleway-Bold;
    font-size: 1.254vw;
    line-height: 1.254vw;
}

.sigTitle {
    color: rgb(95, 95, 95);
    font-size: 1.254vw;
    line-height: 1.254vw;
}

.thePadding {
    padding-left: 4vw;
}

#launchtechLogo {
    width: 12.57vw;
}

#preview {
    transform: scale(0.4);
}

#table {
    width: calc(100vw - 32.22vw);
}

.column1 {
    width: 24.829vw;
}

.column2 {
    width: 32.241vw;
}