.dropdown {
    margin: 20px;
}

.dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;
    min-width: 200px !important;
}

.dropdownButton {
    border: #dd2323;
    background-color: #dd2323;
    color: white;
    padding: 6px 25px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 500ms ease-out;
}
.dropdownButton:hover{
    background-color: #dd2323;
}

.dropdownInput {
    border: none;
    width: calc(100% - 2em);
    padding: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    transition: border-bottom 300ms ease-out;
    margin: 0 1em;
}

.dropdownInput:focus {
    outline: none!important;
    border-bottom: 2px solid #dd2323;
}

.dropdownButton::placeholder{
    color: grey;
    font-weight: 900;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #dd2323!important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: #e74d3ca2!important;
}

.dropdown-item{
    cursor: pointer;
}