<router-outlet></router-outlet>
<!-- Modal for confirmation -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirmBody">
            </div>
            <div class="modal-footer">
                <div class="registerButton" data-dismiss="modal" id="confirmClose">Close</div>
                <div class="registerButton" data-dismiss="modal" id="confirmAccept">Save
                    changes</div>
            </div>
        </div>
    </div>
</div>